{% extends "frontoffice/layout.html.twig" %}

{% block content %}
    
    
    {% for products in produits %}
        <p>{{ products.manufacturer }}</p>
        <p>{{ products.productMainCategory }}</p>
        <p>{{ products.productSubCategory}}</p>
        <p>{{ products.title}}</p>
        <p>{{ products.description}}</p>
        <img src="{{asset('images/'~products.picture)}}"/>
        <p>{{ products.priceVatExcluded}}</p>
        <p>{{ products.priceVatIncluded}}</p>
        
    {% endfor %}
    
    
    
    
    
{% endblock %}
