{% extends "backoffice/layout.html.twig" %}

{% block title %}
{% endblock %}
    
{% block content %}

    <div class="w3-col l3 MarginColumn">Marge</div>

    <div class="w3-card w3-col l6 w3-margin-top" id="displayAccfArea">
        <form class="w3-container" id="productsForm" method="post" action="{{ path('editer_produits' , { id : product.idProduct }) }}">
            
            <h2 class="w3-teal">Ajouter ou modifier une produit</h2>

            <label>Fabricant</label>
            <input class="w3-border w3-input w3-light-grey" type="text" name="_manufacturer" value="{{ product.manufacturer }}">

            <label>Catégorie</label>
            <select class="w3-border w3-select" name="_productMainCategory">
                <option value="Dispositifs anti-incendie">Dispositifs anti-incendie</option>
                <option value="Dispositifs anti-intrusion">Dispositifs anti-intrusion</option>
                <option value="Dispositifs de prévention médicale">Dispositifs de prévention médicale</option>
            </select>
            
            <label>Sous-catégorie</label>
            <select class="w3-border w3-select" name="_productSubCategory">
                <option value="Alarmes">Alarmes</option>
                <option value="Appel Malade">Appel Malade</option>
                <option value="Contrôle d'accès">Contrôle d'Accès</option>
                <option value="Désenfumage">Désenfumage</option>
                <option value="Détection des chutes">Détection des chutes</option>
                <option value="Détection incendie">Détection incendie</option>
                <option value="Eclairage de sécurité">Eclairage de sécurité</option>
                <option value="Vidéo-surveillance">Vidéo-surveillance</option>
            </select>

{#            <input class="w3-border w3-input w3-light-grey" type="text" name="_productSubCategory" value="{{ product.productSubCategory }}">#}
            <label>Titre</label>
            <input class="w3-border w3-input w3-light-grey" type="text" name="_title" value="{{ product.title }}">
            <label>Description</label>
            <input class="w3-border w3-input w3-light-grey" type="text" name="_description" value="{{ product.description }}">
            <label>Photo</label>
            <input class="w3-border w3-input w3-light-grey" type="file" name="_picture" value="{{ product.picture }}">
            <label>Prix HT</label>
            <input class="w3-border w3-input w3-light-grey" type="text" name="_priceVatExcluded" value="{{ product.priceVatExcluded }}">
            <label>Prix TVA</label>
            <input class="w3-border w3-input w3-light-grey" type="text" name="_priceVatIncluded" value="{{ product.priceVatIncluded }}">
            
            <button class="w3-button w3-grey w3-margin">Ajouter ou modifier</button>
              
        </form>
    </div>
        
{% endblock %}