{# empty Twig template #}
{% extends "backoffice/layout.html.twig" %}


{% block content %}

    <div class="w3-col l1 MarginColumn">Marge</div>

    <div class="w3-card w3-col l10 w3-margin-top w3-padding" id="displayAccfArea">    
        <table class="w3-centered w3-col l12 w3-table-all">

            <h2 class="w3-margin w3-teal">Afficher les produits</h2>

            <tr>
                <th>Titre</th>
                <th>Fabricant</th>
                <th>Catégorie</th>
                <th>Sous-catégorie</th>   
                <th>Description</th>
                <th>Photo</th>
                <th>Prix HT</th>
                <th>Prix TTC</th>
            </tr>

            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.manufacturer }}</td>
                <td>{{ product.productMainCategory }}</td>
                <td>{{ product.productSubCategory }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <img src="{{asset('images/produits/'~product.picture)}}" width="100" height="100"/>
                </td>
                <td>{{ product.priceVatExcluded|number_format(2, ',', ' ') }}</td>
                <td>{{ product.priceVatIncluded|number_format(2, ',', ' ') }}</td>
            </tr>
        </table>
    </div>
{% endblock %}