{# empty Twig template #}
{% extends "backoffice/layout.html.twig" %}
    
{% block content %}

<div class="w3-col l1 MarginColumn">Marge</div>

    <div class="w3-card w3-col l10 w3-margin-top w3-padding" id="displayAccfArea">    
        <table class="w3-centered w3-col l12 w3-table-all">

            <h2 class="w3-margin w3-teal">Afficher les services</h2>
        
            <tr>                
                <th>Titre</th>
                <th>Description</th>
                <th>Prix HT</th>
                <th>Prix TVA</th>             
                <th>Suppression</th>
                <th>Modification</th>
            </tr>

            {% for service in services %}
            <tr>
                <td>{{ service.title}}</td>          
                <td>{{ service.description }}</td>
                <td>{{ service.priceVatExcluded|number_format(2, ',', ' ') }}</td>
                <td>{{ service.priceVatIncluded|number_format(2, ',', ' ') }}</td>
                <td>
                    <a href="{{ path('suppress_services', { id: service.idService }) }}">Supprimer</a>
                </td>
                <td>
                    <a href="{{ path('editer_services', { id: service.idService }) }}">Modifier</a>
                </td>

            </tr>
            {% endfor %}           
        </table>                
    </div>
{% endblock %}