{% extends "backoffice/layout.html.twig" %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="w3-col l1 MarginColumn">Marge</div>

    <div class="w3-card w3-col l10 w3-margin-top w3-padding w3-responsive" id="displayAccfArea">    

        <table class="w3-centered w3-col l12 w3-hoverable w3-table-all">
            <h2 class="w3-margin w3-teal">Afficher toutes les commandes</h2>
            
            <tr>
                <th>Numéro de commande</th>
                <th>Nom du client</th>
                <th>Montant des produits</th>
                <th>Montant des services</th>
                <th>Date de commande</th>
            </tr>

            {% for order in orders %}

            <tr>
                <td>
{#                    <a href="{{ path('afficher_client', { company: customer.company }) }}">{{ customer.company }}</a>#}
                    <a href="{{ path('afficher_commande', { idOrder: order.idOrder }) }}">{{ order.idOrder }}</a>
                </td>

                <td>{{ order.virtualColumns.customerName }}</td>
                <td>{{ order.virtualColumns.productAmount|number_format(2, ',', ' ') }}</td>
                <td>{{ order.virtualColumns.serviceAmount|number_format(2, ',', ' ') }}</td>
                <td>{{ order.orderDate | date('d/m/Y') }}</td>
            </tr>

            {% endfor %}

{#TRAITEMENT PHP EVENTUEL            #}
{#          $datetime = Datetime::createFromFormat('d/m/Y');
            $dateBdd = $datetime->toFormat('Y-m-d');
#}
           
        </table>           
    </div>    
{% endblock %}