{% extends "backoffice/layout.html.twig" %}

{% block title %}
{% endblock %}
        
{% block content %}

    <div class="w3-col l1 MarginColumn">Marge</div>

    <div class="w3-card w3-col l11 w3-margin-top w3-padding w3-responsive" id="displayAccfArea">    

        <table class="w3-centered w3-col l12 w3-hoverable w3-table-all">
            <h2 class="w3-margin w3-teal">Afficher les détails d'une commande</h2>
            
            <tr>
                <th>Numéro de commande</th>
                <th>Nom du client</th>
                <th>Acheteur</th>
                <th>Référence produit</th>
                <th>Quantité produit</th>
                <th>Montant produits</th>
                <th>Référence service</th>
                <th>Quantité service</th>
                <th>Montant services</th>
                <th>Montant global</th>
                <th>Date de commande</th>
            </tr>

            <tr>
                <td>{{ order.idOrder }}</td>
                <td>{{ order.virtualColumns.customerName }}</td>
                <td>{{ order.virtualColumns.customerEmail }}</td>
                <td>{{ order.virtualColumns.productCategory }}</td>
                <td>{{ order.virtualColumns.orderProductQuantity }}</td>
                <td>{{ (order.virtualColumns.orderProductQuantity * order.virtualColumns.productAmount)|number_format(2, ',', ' ') }}</td>
                <td>{{ order.virtualColumns.serviceTitle }}</td>
                <td>{{ order.virtualColumns.orderServiceQuantity }}</td>
                <td>{{ (order.virtualColumns.orderServiceQuantity * order.virtualColumns.serviceAmount)|number_format(2, ',', ' ') }}</td>
                <td>{{ ((order.virtualColumns.orderProductQuantity * order.virtualColumns.productAmount) + (order.virtualColumns.orderServiceQuantity * order.virtualColumns.serviceAmount))|number_format(2, ',', ' ') }}</td>
                <td>{{ order.orderDate | date('d/m/Y') }}</td>
            </tr>           
        </table>            
    </div>
                
        <a href="{{ path('afficher_commandes') }}" class="w3-card w3-teal w3-padding w3-round-large w3-text-white backlink">Retour à la vue générale</a>

{% endblock %}