<!doctype html>

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


        <link rel="stylesheet" href="{{ asset('backoffice/style.css') }}">
        <link rel="stylesheet" href="/var/www/html/accf/backoffice/Assets/style.css">

        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ACCF - Interface d'administration</title>
    </head>

    <body>
        <header class="w3-container w3-grey w3-row">
            <div class="w3-col s12 m6 l2">
                <a href="{{ path('dashboard') }}">
                    <img class="w3-padding-16" src="{{ asset('backoffice/logo_accf.png') }}">                    
{#                    <img class="w3-padding-16" src="/var/www/html/accf/backoffice/Assets/logo_accf.png">#}
                </a>
            </div>

            <div class="w3-center w3-col l8">
                <a href="{{ path('dashboard') }}">
                    <span class="w3-xlarge w3-text-white">Bienvenue sur votre interface d'administration ACCF</span>
                </a>
            </div>

            <div class="w3-center w3-col m6 l2">
                <a href="{{ path('login') }}">
                    <span class="w3-right w3-text-white">Connexion</span>
                </a>
            </div>
        </header>

        <main class="w3-row">
            <nav class="w3-col s6 m1 l2 w3-grey" id="leftmenu">

                <button class="w3-block w3-border-top w3-border-white w3-button w3-text-white accordion">Gestion des agences</button>
                    <div class="accordionContent">
                        <a href="{{ path('ajouter_agence') }}" class="w3-block w3-button w3-small">Ajouter une agence</a>
                        <a href="{{ path('afficher_agence') }}" class="w3-block w3-button w3-small">Afficher les agences</a>
                        <a href="{{ path('modifier_agence') }}" class="w3-block w3-button w3-small">Modifier une agence</a>
                        <a href="{{ path('supprimer_agence') }}" class="w3-block w3-button w3-small">Supprimer une agence</a>
                    </div>

                <button class="w3-block w3-border-top w3-border-white w3-button w3-hover-silver w3-hover-text-black w3-text-white accordion">Gestion des clients</button>
                <div class="accordionContent">
                    <a href="{{ path('afficher_client') }}" class="w3-block w3-button w3-small">Afficher les détails d'un client</a>
                    <a href="{{ path('afficher_clients') }}" class="w3-block w3-button w3-small">Afficher tous les clients</a>
                </div>
                  
                <button class="w3-block w3-border-top w3-border-white w3-button w3-hover-silver w3-hover-text-black w3-text-white accordion">Gestion des commandes</button>
                <div class="accordionContent">
                    <a href="{{ path('afficher_commande') }}" class="w3-block w3-button w3-small">Afficher les détails d'une commande</a>
                    <a href="{{ path('afficher_commandes') }}" class="w3-block w3-button w3-small">Afficher toutes les commandes</a>
                </div>

                <button class="w3-block w3-border-top w3-border-white w3-button w3-text-white accordion">Gestion des employés</button>
                    <div class="accordionContent">
                        <a href="{{ path('ajouter_employe') }}" class="w3-block w3-button w3-small">Ajouter un employé</a>
                        <a href="{{ path('afficher_employe') }}" class="w3-block w3-button w3-small">Afficher les employés</a>
                        <a href="{{ path('mettre_a_jour_employe') }}" class="w3-block w3-button w3-small">Modifier un employé</a>
                        <a href="{{ path('supprimer_employe') }}" class="w3-block w3-button w3-small">Supprimer un employé</a>
                    </div>

                <button class="w3-block w3-border-top w3-border-white w3-button w3-text-white accordion">Gestion des produits</button>
                <div class="accordionContent">
                     <a href="{{ path('create_products') }}" class="w3-block w3-button w3-small">Ajouter un produit</a>
                    <a href="{{ path('read_products') }}" class="w3-block w3-button w3-small">Afficher un produit</a>
                   <a href="{{ path('update_products') }}" class="w3-block w3-button w3-small">Modifier un produit</a>
                   <a href="{{ path('delete_products') }}" class="w3-block w3-button w3-small">Supprimer un produit</a>
                </div>

                <button class="w3-block w3-border-top w3-border-white w3-button w3-text-white accordion">Gestion des publications</button>
                    <div class="accordionContent">
                        <a href="{{ path('ajouter_publication') }}" class="w3-block w3-button w3-small">Ajouter une publication</a>
                        <a href="{{ path('afficher_publication') }}" class="w3-block w3-button w3-small">Afficher une publication</a>
                        <a href="{{ path('modifier_publication') }}" class="w3-block w3-button w3-small">Modifier une publication</a>
                        <a href="{{ path('supprimer_publication') }}" class="w3-block w3-button w3-small">Supprimer une publication</a>
                    </div>
               
                <button class="w3-block w3-border-bottom w3-border-top w3-border-white w3-button w3-text-white accordion">Gestion des services</button>
                <div class="accordionContent">
                    <a href="{{ path('create_services') }}" class="w3-block w3-button w3-small">Ajouter un service</a>
                     <a href="{{ path('read_services') }}" class="w3-block w3-button w3-small">Afficher un service</a>
                    <a href="{{ path('update_services') }}" class="w3-block w3-button w3-small">Modifier un service</a>
                    <a href="{{ path('delete_services') }}" class="w3-block w3-button w3-small">Supprimer un service</a>
                </div>
            </nav>
            
            <div class="w3-center w3-col s6 m11 l10" id="displayContainer">
                {% block title %}{% endblock %}
                {% block content %}{% endblock %}
            </div>

        </main>

        <footer class="w3-bottom w3-center w3-container w3-grey w3-row">
            <span class="w3-text-white">Copyright - LG / GL / KN / BR - 2017</span>             
        </footer>

    <script src="{{ asset('backoffice/script.js') }}"></script>
{#    <script src="/var/www/html/accf/backoffice/Assets/script.js"></script>#}

    </body>

</html>