{% extends "backoffice/layout.html.twig" %}

{% block title %}
{% endblock %}
    
{% block content %}

    <div class="w3-col l3 MarginColumn">Marge</div>

    <div class="w3-card w3-col l6 w3-margin-top" id="displayAccfArea">
        <form class="w3-container" id="employeeForm" method="post" action="{{ path('editer_agence' , { id : agency.idAgency }) }}">
            
            <h2 class="w3-teal">Ajouter ou modifier une agence</h2>

            <label>Département (Numéro)</label>
            <input class="w3-border w3-input w3-light-grey" type="text" name="_area" value="{{ agency.area }}">
            <label>Adresse</label>
            <input class="w3-border w3-input w3-light-grey" type="text" name="_address" value="{{ agency.address }}">
            <label>Code Postal</label>
            <input class="w3-border w3-input w3-light-grey" type="text" name="_zipcode" value="{{ agency.zipcode }}">
            <label>Ville</label>
            <input class="w3-border w3-input w3-light-grey" type="text" name="_city" value="{{ agency.city }}">

            <button class="w3-button w3-grey w3-margin">Ajouter ou modifier</button>
              
        </form>
    </div>
        
{% endblock %}